{{#each this}}
<div class="photo-card overflow-hidden">
    <a class="photo-link" href="{{largeImageURL}}">
        <img class="gallery__image" src="{{webformatURL}}" alt="{{tags}}" loading="lazy" width="300" height="220" />
    </a>
    <div class="info">
        <p class="info-item">
            <i class="material-icons">favorite</i> <span>{{likes}}</span>
        </p>
        <p class="info-item">
            <i class="material-icons">remove_red_eye</i> {{views}}
        </p>
        <p class="info-item">
            <i class="material-icons">forum</i> {{comments}}
        </p>
        <p class="info-item">
            <i class="material-icons">save_alt</i> {{downloads}}
        </p>
    </div>
</div>
{{/each}}
